<div class="person">
    <img src={{ pers.photo.url }}  height="80" >
    <div class="person_data">
            <h3><a href="{% url 'guilty' pers.id %}">{{ pers.name }}</a></h3>
            {% if  pers.date_of_birth != None %}
                <li>Дата рождения {{ pers.date_of_birth }}</li>
            {% endif %}
            {% if  pers.citizenship != None %}
                <li>Гражданство: {{ pers.citizenship }}</li>
            {% endif %}
            {% if  pers.organization != None %}
                <li>Организация: {{ pers.organization }}</li>
            {% endif %}
            {% if  pers.position != None %}
                <li>Должность: {{ pers.position }}</li>
            {% endif %}
    </div>
</div>
