{% extends 'dbase/layout_one_person.html' %}
{% block title_object %}
{{ guilty.name }}
{% endblock %}

{% block inf %}
        {% if  guilty.date_of_birth != None %}
            <li>Дата рождения {{ guilty.date_of_birth }}</li>
        {% endif %}
        {% if  guilty.citizenship != None %}
            <li>Гражданство: {{ guilty.citizenship }}</li>
        {% endif %}
        {% if  guilty.organization != None %}
            <li>Организация: {{ guilty.organization }}</li>
        {% endif %}
        {% if  guilty.position != None %}
            <li>Должность: {{ guilty.position }}</li>
        {% endif %}
{% endblock %}

{% block body %}
<div class = 'преследования'
     <h2>Участие в преследованиях</h2>
        {% for pers in persequtions_list %}
            <div>
                <ul><a href="{% url 'persecution' pers.perseqution.id %}">{{ pers.perseqution }}</ul>
            </div>
        {% endfor %}
<div/>

{% endblock %}