{% extends 'dbase/layout_person.html' %}

{% block title %}
  {{ head }}
{% endblock %}

{% block body %}
    <h1>{{ head }}</h1>

    {% for pers in list_of_pers %}

        {% include 'dbase/guilty_information.html' %}

    {% endfor %}

{% endblock %}

{% block filtres %}
    <h2>Фильтры</h2>
    <form action="/guiltys/" method="POST">
        {% csrf_token %}
        {{ form }}
        <p></p>
        {{ glt_form }}
        <p></p>
        <input type="submit" value="Select">
    </form>
{% endblock %}