{% load static %}

<doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport"
          content="wight=device-wight", user-scalable=no>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href = "{% static 'dbase/css/main.css' %}">
    <link rel="stylesheet" href = "https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <div class = "logo">
            <img src="{% static 'dbase/images/logo.gif' %}" alt = "Logo">
            <span class="logo">CHRG</span>
        </div>
        <h3>Разделы</h3>
        <ul>
            <a href="https://crimeahrg.org/ru"> <li><i class="fas fa-home"></i> Сайт КПГ</li></a>
            <a href="{% url 'index' %}" > <li><i class="fas fa-database"></i> Главная страница</li></a>
            <a href="{% url 'victims' %}"> <li><i class="fas fa-child"></i> Пострадавшие</li></a>
            <a href="{% url 'guiltys' %}"> <li><i class="fas fa-user-secret"></i> Виновные</li></a>
            <a href="{% url 'cases' %}"> <li><i class="fas fa-landmark"></i> Дела</li></a>
        </ul>
        <div class="filters">

                {% block filtres %} {% endblock %}

            </div>
    </aside>
    <main>
        {% block main %}{% endblock%}
    </main>
</body>
</html>