{% extends 'dbase/layout_one_person.html' %}
{% block title_object %}
{{ victim.name }}
{% endblock %}

{% block main %}
    <body>
        <h2>Преследование</h2>
        <li><a href="{% url 'case' perseqution.case.id %}">{{ perseqution.case }}</a></li>
        <p>{{ perseqution.date }}</p>
        <p>{{ perseqution.type_of_pers }}</p>
        <h3><a href="{% url 'victim' perseqution.victim.id %}">{{ perseqution.victim }}</a></h3>
            <img src={{ perseqution.victim.photo.url }}
                height="120" >
        <ul>Статус: {{ perseqution.status }}</ul>
        <li>Статьи обвинения</li>
            {% for art in perseqution.articles %}
                <ul>{{ art }}</ul>
            {% endfor %}
        <li>Нарушеные права</li>
            {% for viol in perseqution.violation %}
                <ul>{{ viol }}</ul>
            {% endfor %}

    <div class = 'преследования'>
         <h3>Виновные в преследовании</h3>
            {% for gip in GiP_list %}
                  <li><a href="{% url 'guilty' gip.id %}">{{ gip }}</a></li>
            {% endfor %}
    </div>
    </body>
{% endblock %}
