        <div class="person">
            <img src={{ pers.photo.url }}  height="80" >
            <div class="person_data">

                    <h3><a href="{% url 'victim' pers.id %}">{{ pers.name }}</a></h3>
                        {% if  pers.date_of_birth != None %}
                            <li>Дата рождения: {{ pers.date_of_birth }}</li>
                        {% endif %}
                        {% if  pers.restriction != None %}
                            <li>В данный момент: {{ pers.restriction }}</li>
                        {% endif %}
            </div>
        </div>
